html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#background {
  /* height: 100vh; */
  /* max-width: 100vw; */
  /* margin: 0 auto; */
}

#backgroundimage {
  display: block;
  max-height: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  margin: 0;
  float: right;
}

#characterselection {
  position: absolute;
  background-color: white;
}

#characterselection ul {
  list-style: none;
  padding-left: 0;
}

#characterToLookFor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.characterthumbnail {
  width: 100px;
}

#loading {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
}

#spinner {
  animation-name: rotate;
  animation-duration: 8s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#gamestart {
  display: flex;
  height: 98vh;
  width: 98vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showgame {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-end;
}

#gamestatus {
  /* position: absolute; */
  /* top: 0; */
  /* height: 100vh; */
  width: 200px;
}
