html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#background {
  /* height: 100vh; */
  /* max-width: 100vw; */
  /* margin: 0 auto; */
}

#backgroundimage {
  display: block;
  max-height: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  margin: 0;
  float: right;
}

#characterselection {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 225px;
  z-index: 2;
}

#characterselection button {
  width: max-content;
  align-self: flex-end;
  margin: 5px;
}

#characterselection ul {
  list-style: none;
  padding: 0px 10px;
  margin: 0px 5px 5px 5px;
}

#characterselection ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px dotted grey;
}

#characterselection ul li:hover {
  cursor: pointer;
  font-weight: bolder;
}

#characterToLookFor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.characterthumbnail {
  width: 100px;
}

#loading {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
}

#spinner {
  animation-name: rotate;
  animation-duration: 8s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#gamestart {
  display: flex;
  height: 98vh;
  width: 98vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showgame {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-end;
}

#gamestatus {
  display: block;
  width: 250px;
  margin: 0 auto;
}

#sidethumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.characterthumbnailgame {
  width: 75px;
}

.divcharacterthumbnail {
  text-align: center;
  border: 1px dotted grey;
  width: 175px;
}

.divcharacterthumbnail img {
  display: block;
  margin: 0 auto;
}

.divcharacterthumbnail h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.found {
  opacity: 0.5;
}

.found h4:after {
  content: "\002714";
}

#foundoverlay {
  position: absolute;
  width: 300px;
  background: white;
  top: 5%;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#foundoverlay div {
  width: 100%;
}

#closeoverlay {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#closeoverlay button {
  margin: 5px;
}

#foundoverlay div p {
  margin-top: 2px;
  text-align: center;
}

li[data-character="waldoLocation"]:before {
  content: url("../images/waldomicrothumbnail.jpg");
}

li[data-character="wendaLocation"]:before {
  content: url("../images/wendamicrothumbnail.jpg");
}

li[data-character="odlawLocation"]:before {
  content: url("../images/odlawmicrothumbnail.jpg");
}

li[data-character="wizardLocation"]:before {
  content: url("../images/wizardmicrothumbnail.jpeg");
}

li[data-character="woofLocation"]:before {
  content: url("../images/woofmicrothumbnail.jpg");
}

#scoreboarddiv {
  position: absolute;
  top: 25%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  width: 30vw;
  left: 40vw;
}

#scoreboarddiv h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 25px;
  text-align: center;
}

#scoreboarddiv table {
  width: 100%;
  padding: 20px 35px;
}

#scoreboarddiv table tr {
  height: 75px;
  font-size: 25px;
}

#scoreboarddiv table tr td:last-child {
  text-align: right;
}

#closescoreboarddiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#closescoreboarddiv button {
  margin: 5px;
}

#playermessage {
  text-align: center;
  font-size: 20px;
}
