html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: white;
  font-family: VT323;
  color: rgb(46, 52, 54);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.centeredtext {
  text-align: center;
}

#backgroundimage {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#background {
  width: 100%;
}

#characterselection {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 230px;
  z-index: 2;
}

#characterselection button {
  width: max-content;
  align-self: flex-end;
  margin: 5px;
  box-shadow: 2px 2px 1px #0f6dc5;
}

#characterselection button:hover {
  color: #0f6dc5;
  box-shadow: inset 1px 1px 2px lightgrey, 2px 2px 1px #0f6dc5;
  cursor: pointer;
}

#characterselection ul {
  list-style: none;
  padding: 0px 10px;
  margin: 0px 5px 5px 5px;
}

#characterselection ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  border-bottom: 1px dotted grey;
}

#characterselection ul li:hover {
  cursor: pointer;
  font-weight: bolder;
}

#charactersToLookFor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.characterthumbnail {
  width: 100px;
}

#loading {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
}

#spinner {
  animation-name: rotate;
  animation-duration: 8s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#gamestart {
  display: flex;
  height: calc(100vh - 4px);
  width: calc(100vw - 4px);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #0f6dc5 dotted;
}

#gamestartcontent {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showgame {
  height: 100vh;
  width: 100vw;
}

#gamestatus {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#sidethumbnails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.characterthumbnailgame {
  height: 75px;
  padding: 2px;
}

.divcharacterthumbnail {
  text-align: center;
  background: white;
  width: 80px;
}

.divcharacterthumbnail img {
  display: block;
  margin: 0 auto;
}

.divcharacterthumbnail h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#foundoverlay {
  position: absolute;
  width: 300px;
  background: white;
  top: 10%;
  left: 40%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  font-size: 22px;
  border: 2px solid #0f6dc5;
}

#foundoverlay div {
  width: 100%;
}

#closeoverlay {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#closeoverlay button {
  margin: 5px;
  box-shadow: 2px 2px 1px #0f6dc5;
  padding: 0;
  height: 20px;
  width: 20px;
}

#closeoverlay button:hover {
  color: #0f6dc5;
  box-shadow: inset 1px 1px 2px lightgrey, 2px 2px 1px #0f6dc5;
  cursor: pointer;
}

#foundoverlay div p {
  margin-top: 2px;
  text-align: center;
}

li[data-character="waldoLocation"]:before {
  content: url("../images/waldomicrothumbnail.jpg");
}

li[data-character="wendaLocation"]:before {
  content: url("../images/wendamicrothumbnail.jpg");
}

li[data-character="odlawLocation"]:before {
  content: url("../images/odlawmicrothumbnail.jpg");
}

li[data-character="wizardLocation"]:before {
  content: url("../images/wizardmicrothumbnail.jpeg");
}

li[data-character="woofLocation"]:before {
  content: url("../images/woofmicrothumbnail.jpg");
}

#scoreboarddiv {
  position: absolute;
  top: 10%;
  left: calc((100vw / 2) - ((0.4 * 100vw) / 2));
  z-index: 3;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  width: 40%;
  border: 1px solid #0f6dc5;
}

#scoreboarddiv h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 25px;
  text-align: center;
}

#scoreboarddiv table {
  width: 75%;
  padding: 20px 35px;
  margin: auto;
}

#scoreboarddiv table tr {
  height: 75px;
  font-size: 25px;
}

#scoreboarddiv table tr td:last-child,
#scoreboarddiv table tr td:first-child {
  text-align: center;
  width: 30px;
}

#closescoreboarddiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#closescoreboarddiv button {
  box-shadow: 2px 2px 1px #0f6dc5;
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 5px;
}

#closescoreboarddiv button:hover {
  color: #0f6dc5;
  box-shadow: inset 1px 1px 2px lightgrey, 2px 2px 1px #0f6dc5;
}

#playermessage {
  text-align: center;
  font-size: 20px;
}

@keyframes textblink {
  0% {
    color: rgb(46, 52, 54);
  }
  25% {
    color: lightgrey;
  }
  50% {
    color: rgb(46, 52, 54);
  }
  75% {
    color: lightgrey;
  }
  100% {
    color: rgb(46, 52, 54);
  }
}

#clickstart {
  animation-name: textblink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#login {
  width: 150px;
  box-shadow: 4px 4px 2px #0f6dc5;
  font-size: 26px;
}

#login:hover {
  color: #0f6dc5;
  box-shadow: inset 1px 1px 2px lightgrey, 4px 4px 2px #0f6dc5;
}

button {
  align-self: center;
  font-family: VT323;
  background: white;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  border: 2px solid lightgrey;
  color: rgb(46, 52, 54);
}

.footer {
  width: 100%;
  text-align: center;
}
.footer a {
  color: #0f6dc5;
  /* text-align: center; */
}

.footer a:visited {
  color: #0f6dc5;
}

.footer a:hover {
  color: #b9102d;
}

#gamefooter {
  /* margin-top: 20px; */
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  background: white;
  width: 80px;
}

#separator {
  color: #0f6dc5;
  font-size: 28px;
  text-align: center;
  margin: 5px auto;
}

#highestscoreslink {
  box-shadow: 4px 4px 2px #0f6dc5;
  font-size: 18px;
}

#highestscoreslink:hover {
  color: #0f6dc5;
  box-shadow: inset 1px 1px 2px lightgrey, 4px 4px 2px #0f6dc5;
}

.check {
  position: fixed;
  top: 0;
}

.check p {
  color: rgb(46, 52, 54);
  margin: 0;
  font-weight: bolder;
  font-size: 45px;
  margin-left: 20px;
  margin-top: 15px;
}

@media only screen and (max-width: 1300px) {
  #scoreboarddiv {
    width: 60%;
    left: calc((100vw / 2) - ((0.6 * 100vw) / 2));
  }
}

@media only screen and (max-width: 850px) {
  #scoreboarddiv table {
    padding: 10px 10px;
  }
  #scoreboarddiv table tr {
    height: 50px;
    font-size: 22px;
  }
  #scoreboarddiv h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
  }
}
